<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Feedback System</title>
  <link rel="shortcut icon" href="/assets/img/icon.png" type="image/x-icon">

  <link rel="stylesheet" href="/assets/css/bootstrap_fs.css">
   <!-- SVG COSTUME STYLES CSS -->
   <link rel="stylesheet" href="/assets/css/svg_styles.css">
  <!-- JQuery-Confirm CSS -->
  <link rel="stylesheet" href="/assets/css/jquery-confirm.min.css">
  <!-- JQuery -->
  <link rel="stylesheet" href="/assets/css/jquery/jquery-ui.css">
  <script src="/assets/js/jquery.min.js"></script>

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <!-- Customized CSS-->
  <link rel="stylesheet" href="/assets/css/customize.css">
  <!--ICON-->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
</head>
<body>
  <!-- QR CODE GENERATOR JS -->
  <script src="/assets/js/qrcodegenerator.js"></script>
  
  {{{content}}}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

  <!-- Moment JS -->
  <script src="/assets/js/moment.min.js"></script>
  <!-- Bootstrap Notify -->
  <script src="/assets/js/bootstrap-notify.min.js"></script>
  <!-- JQuery-Confirm JS -->
  <script src="/assets/js/jquery-confirm.min.js"></script>
  <!-- JQueryUI JS-->
  <script src="/assets/js/jquery-ui.min.js"></script>
  <!-- DateTimePicker -->
  <script type="text/javascript" src="/assets/js/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <!-- Bootstrap-Select -->
  <script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
  <!-- SCRIPT-Select -->
  <script src="/assets/js/script.js"></script>

  <!--CHART-->
  <!-- <script src="/assets/js/PIECHART/plugins/jquery-2.2.4.min.js"></script>
 <script src="/assets/js/PIECHART/plugins/jquery.appear.min.js"></script>
 <script src="/assets/js/PIECHART/plugins/jquery.easypiechart.min.js"></script>  -->
</body>
</html>