<style> 
  .button1 {
    margin-left: 450px;
    margin-top: 100px;
    padding: 20px 60px;
    color:white; 
    background-color:#F4B246;
    border-color: #F4B246;
    border-radius: 25px;
}
.button2 {
    margin-left: 440px;
    margin-top: 20px;
    padding: 20px 60px;
    color:white; 
    background-color:#F4B246;
    border-color: #F4B246;
    border-radius: 25px;
}

  </style>


<div class="container">
  <div class="row  pt-3">
    <div class="col-sm-6">
      <img src="../assets/img/icon.png" class="logo">
      <span>TSC Breeder farm. External farm of San Miguel foods INC</span>
    </div>
  </div>
    <div class="row">
      <a href="/login"><button type="button" class="button1">Administrator</button></a>
      <a href="/login"><button type="button" class="button2">Assigned Officer</button></a>
      <a href="/rate"><button type="button" class="button2">Doctor</button></a>
      <a href="/login"><button type="button" class="button2">Assigned Officer</button></a>
           
                    
        </div>
    </div>
</div>