<div class="container-fluid">
    <div class="jumbotron">
        <center>
            <img src="/assets/img/icon300.png" alt="BatchBook Logo" width="200" height="170">
        </center>
        <h1 class="text-center">NoScript Alert
            <p> </p>
            <p>
                <small class="text-center">JavaScript is not enabled..</small>
            </p>
        </h1>
        <p class="text-center">Please Enable JavaScript Safely</p>
        <p class="text-center">
            <a class="btn btn-primary" target="_blank" href="https://enable-javascript.com/">
                <i class="fa fa-home"></i>Enable Javascript</a>
        </p>
    </div>
</div>