<div class="container" style="background-color: yello;">
  {{> navbar-top }}
    {{#if message}}
    <div class="alert alert-{{alertType}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}
    <div class="row pt-3">
        <div class="col-sm-7">
          <center>
            <img src="../assets/img/login_image.png" class="img-fluid" id="login_page_image">
          </center>
        </div>
        <div class="col-sm-5">
            <form action="/create" role="form" method="POST">
                <h3>Create Account</h3>
                <label>Last name</label>
                <input type="text" name="lastname" class="form-control register_input" required>
                <label>First name</label>
                <input type="text" name="firstname" class="form-control register_input" required>
                <label>Middle name</label>
                <input type="text" name="middlename" class="form-control register_input" required>
                <label>Email</label>
                <input type="text" name="email" class="form-control register_input" pattern=".+@gmail.com" required>
                <label>Password</label>
                <input type="password" name="password" class="form-control register_input" required>
                <button type="submit" class="btn btn-warning btn-block mt-3 register_button">Sign up</button>
            </form>
        </div>
    </div>
  </div> 