<div class="row  pt-3">
  <div class="col-sm-6">
    <a href="/">
    <img src="../assets/img/icon.png" class="logo mr-3">
    <span>TSC Breeder farm. External farm of San Miguel foods INC</span>
  </a>
  </div>
  <div class="col-sm-6 pt-3 pb-0">
    <a href="/signup"><button type="button" class="btn btn-warning ml-2 mb-2" id="sign_up_btn">Sign up</button></a>
    <a href="/login"><button type="button" class="btn btn-warning ml-2 mb-2" id="sign_in_btn">Sign in</button></a>
  </div>
</div>
  <hr>